/* styling.css (The Global Website Styles) */

body {
    margin: 0;
    padding: 0;
    background-color: #f4f5f7;
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* This sizes the component box, but cannot style the insides */
kanban-board {
    display: block;
    width: 100%;
    height: 100%;
}